.App {
  height: 100vh;
  display: flex;
}

.wrapper {
  padding: 16px;
  display: flex;
  margin: 0 auto;
  max-width: 672px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.token-container {
  margin-bottom: 48px;
}

.token-container:focus-within {
  border-radius: 4px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(59, 130, 246, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type='text'] {
  margin: 0;
  outline: none;
  font-size: 18px;
  min-width: 350px;
  border-radius: 4px;
  padding: 15px 24px;
  border-width: 2px;
  border-style: solid;
}

input[type='text']:focus {
  border-color: var(--primary-blue);
}

input[type='text']::placeholder {
  color: var(--text-secondary);
}

.logo {
  top: 32px;
  left: 24px;
  position: absolute;
}
