@import 'vars';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/public/fonts/ibm-plex-sans-var.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(/public/fonts/ibm-plex-sans-var-italic.woff2) format('woff2');
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#root {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  min-height: 100vh;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

blockquote {
  padding-left: 24px;
  border-radius: 8px;
  position: relative;
  color: var(--color-mustard);
}

blockquote::before {
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  content: '';
  display: block;
  border-radius: 3px;
  position: absolute;
  background: var(--color-rust);
}

pre {
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px !important;
}

p code,
li code {
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: bold;
  background: #23262b;
  color: var(--color-burlywood);
}

a {
  color: var(--color-mustard);
  transition: color 0.2s ease-in;
}

a:hover {
  color: var(--color-white);
}

ol {
  margin: 12px 0 12px 32px;
  padding: unset;
  list-style: decimal;
}

.prose {
  line-height: 1.75;
  color: var(--text);
}
