@import 'vars';

html {
  min-width: 360px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
